.json files/flows (1).json
[
    {
        "id": "8bd1c1a8.5430f",
        "type": "tab",
        "label": "tweet basic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ca15d05.716014",
        "type": "twitter in",
        "z": "8bd1c1a8.5430f",
        "twitter": "",
        "tags": "#COVID,#covid19,#COVID19,#Coronavirus,#SARSCoV2,#COVIDfoamed",
        "user": "false",
        "name": "TwitterIn",
        "inputs": 0,
        "x": 80,
        "y": 160,
        "wires": [
            [
                "eda03d80.113d1",
                "66aa8232.563aac",
                "5bc30a9d.68e284",
                "56579cdd.ac5424"
            ]
        ]
    },
    {
        "id": "5bc30a9d.68e284",
        "type": "debug",
        "z": "8bd1c1a8.5430f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "tweet.text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 160,
        "wires": []
    },
    {
        "id": "eda03d80.113d1",
        "type": "debug",
        "z": "8bd1c1a8.5430f",
        "name": "msg.tweet details",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "tweet",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "66aa8232.563aac",
        "type": "function",
        "z": "8bd1c1a8.5430f",
        "name": "replace #",
        "func": "var tweet=msg.payload;\nvar newTweet=tweet.replace(/#/g,\"Hash Tag \");\nmsg.payload=newTweet;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "dc122611.58b8e8",
                "861b22bd.4d6af"
            ]
        ]
    },
    {
        "id": "dc122611.58b8e8",
        "type": "debug",
        "z": "8bd1c1a8.5430f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "861b22bd.4d6af",
        "type": "sentiment",
        "z": "8bd1c1a8.5430f",
        "name": "sentiment of tweets",
        "property": "payload",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "d9ad04fe.a4d898",
                "f0f8717.587469"
            ]
        ]
    },
    {
        "id": "d9ad04fe.a4d898",
        "type": "debug",
        "z": "8bd1c1a8.5430f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sentiment.score",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "f0f8717.587469",
        "type": "switch",
        "z": "8bd1c1a8.5430f",
        "name": "Positive/Negetive tweets",
        "property": "sentiment.score",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 440,
        "wires": [
            [
                "b78689f3.4ecd18"
            ],
            [
                "3fc56707.0c7ba8"
            ]
        ]
    },
    {
        "id": "b78689f3.4ecd18",
        "type": "debug",
        "z": "8bd1c1a8.5430f",
        "name": "Positive tweets",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "tweet.text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "3fc56707.0c7ba8",
        "type": "debug",
        "z": "8bd1c1a8.5430f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "56579cdd.ac5424",
        "type": "delay",
        "z": "8bd1c1a8.5430f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "5a24f375.135c0c"
            ]
        ]
    },
    {
        "id": "657de616.6e7bf8",
        "type": "function",
        "z": "8bd1c1a8.5430f",
        "name": "storing tweet",
        "func": "msg.payload={\"timestamp\" : msg.tweet.timestamp_ms,\n             \"tweet\"     : msg.tweet.text,\n             \"sentiment\" : msg.sentiment.score};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 600,
        "wires": [
            [
                "65db0b1a.b13c94"
            ]
        ]
    },
    {
        "id": "65db0b1a.b13c94",
        "type": "cloudant out",
        "z": "8bd1c1a8.5430f",
        "name": "",
        "cloudant": "",
        "database": "tweetdata",
        "service": "node-red-xqfso-2020--cloudant-1605509521835-33565",
        "payonly": true,
        "operation": "insert",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "5a24f375.135c0c",
        "type": "sentiment",
        "z": "8bd1c1a8.5430f",
        "name": "",
        "property": "tweet.text",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "657de616.6e7bf8"
            ]
        ]
    }
]